@import "normalize.css";
@import "_colors.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

* { box-sizing: border-box; }
* { font-family: 'Roboto', sans-serif; }

@mixin media($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

$num-columns: 12;

header {
  background-color: lighten($navy, 50%);
  color: $white;

  h1 { font-family: 'Roboto Slab', serif; }
}

@for $i from 1 through $num-columns {
  .col-#{$i} {
    float: left;
    padding: 20px 20px 20px 0;
    $width: (1 / 12) * $i;
    width: percentage($width);
    border-radius: 5px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.row {
  // padding: 20px 0;
  margin-left: -20px;
  margin-right: -20px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-centered { text-align: center; }
.add-user, .user {
  background-color: lighten($silver, 5%);
  padding: 20px;
  border-radius: 5px;
}
.awards {
  list-style-type: none;
  padding: 0;
}
.mentor {
  background-color: $gray;
  font-weight: bold;
  color: darken($gray, 50%);
  font-size: 14px;
  padding: 2px 5px;
  border-radius: 5px;
}

.btn {
  padding: 10px;
  color: $white;

  &-blue {
    background-color: $blue;
  }
  &-red {
    background-color: $maroon;
  }
  &-yellow {
    background-color: $orange;
    color: $black;
  }
}

input {
  margin: 10px 0;
  background-color: $white;
  border: 0;
  border-radius: 5px;
}
input[type=text] {
  width: 100%;
  padding: 10px;
  border: solid 1px $gray;
}
input[type=submit] { display: block; }
